name: pixi CI

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: List files
        run: ls -la

      - uses: prefix-dev/setup-pixi@v0.8.8
        with:
          pixi-version: v0.46.0
          frozen: true
          cache: true
      - run: pixi run -e humble test
      - run: pixi run -e jazzy test
